.container {
  background-color: white;
}

.artworkContainer {
  border-radius: 16px;
  height: 300px;
  padding: 16px;
  background-color: dimgrey;
  margin: 32px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.artworkTitle {
  margin-bottom: 32px;
}


.artworkImage {

}
